@using OnlineShopingApplication.Models
@model List<Products>
@{
	ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>
<br />
<div class="row">
	<table class="table table-bordered table-dark">
		<thead class="thead-dark">
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Price</th>
				<th>Product Type</th>
				<th>Product Color</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model)
			{
				<tr>
					<td>
						<img src="~/@item.Image" width="200px" height="150px" />
					</td>
					<td>@item.Name</td>
					<td>@item.Price</td>
					<td>@item.ProductTypes.ProductType</td>
					<td>@item.ProductColor</td>
					<td>
						<form asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" method="post" style="display:inline;">
							<button type="submit" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>
							</button>
						</form>

					</td>
				</tr>
			}
		</tbody>
	
	</table>
	

</div>

<div class="row">
	<!-- Left side: Back button -->
	<div class="col-md-6">
		<a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
	</div>

	<!-- Right side: Totals and checkout -->
	<div  style="max-width: fit-content; margin-left: auto;">
		<h3>Total Amount</h3>
		<h3>Grant Total: @Model.Sum(p => p.Price)</h3>
		<a asp-action="Index" asp-controller="Home" class="btn btn-info">Check out</a>
	</div>
</div>

