@* @model List<Products> *@
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<OnlineShopingApplication.Models.Products>
@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    @foreach(var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px; color:#212529; font-weight:bold;">@product.Name</label>
                    </h4>
                </div>
                <img src="/@product.Image" alt="Card Image" class="card-img-top" style="height:300px"/>
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px;color:#a51313"><b>Price: @product.Price</b></label>
                        </div>
                        <div>
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-success pull-right btn-outline-info">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
        @Html.PagedListPager(
                 Model,
                 page => Url.Action("Index", new { page }),
                 new PagedListRenderOptions
        {
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToIndividualPages = true,
            MaximumPageNumbersToDisplay = 3,
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination" },
            LinkToPreviousPageFormat = "Previous",
            LinkToNextPageFormat = "Next"
        }
                 )
    </nav>
</div>



@section Scripts {
    <script src="https://kit.fontawesome.com/your-kit-code.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script>
        
        @if (TempData["OrderSuccess"] != null)
        {
            <text>
                    alertify.set('notifier', 'position', 'top-right');
                        alertify.success('@Html.Raw(TempData["OrderSuccess"])');
                @{
                    // Clear immediately after display
                    TempData.Remove("OrderSuccess");
                }
            </text>
        }
    </script>
}

